
           
        <div  class="container">
           
           <div class="card" style="background-color: orange; width: 600px;margin: 100px 270px;">
            <h5 style="text-align:center; color:white;font-size:30px;margin-top: 20px;margin-bottom: 20px;">Update Category</h5>
             
            <form >
                <div class="left" style="float:left ;margin-left: 47px;">

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Category name</label>
                        <input style="background-color: gray;" type="text" class="form-control"
                            id="exampleFormControlInput1" name="categoryname" [(ngModel)]="data.categoryname"   placeholder="name of product">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Discription</label>
                        <textarea style="background-color: gray;" class="form-control"  name="discription"  [(ngModel)]="data.categorydiscription"
                            id="exampleFormControlTextarea1" rows="8"></textarea>
                    </div>

                </div>

                <div class="right" style="float:right;">

                    <div class="mb-3">
                        <div style="width:200px;height:200px;background-color: dimgrey;position: relative;" aria-required="true">
                            <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px;width: 200px;" >
                        </div>

                        <input type="file" name="imageofcateg"   (change)="onFileSelection($event)"  [(ngModel)]="data.categoryimage">

                    </div>




                </div>
                
              </form>
           

            <div class="modal-footer" style="background-color: orange;text-align:center;margin-bottom: 50px;">

                <button type="submit" (click)="updateItem()" style="  width: 232px; float: left;border-radius: 5px;width: 232px;" class="btn btn-primary" >Update category</button>&nbsp;&nbsp;
     <button type="submit" style="margin-right: 20px;width: 232px;float: left;border-radius: 5px;" routerLink="/admincategory" class="btn btn-dark" >Back</button>
            </div>
        </div>
        </div>

     <router-outlet></router-outlet>   