<nav class="navbar navbar-expand-lg bg-body-light shadow-sm p-3 mb-5 bg-white rounded">
    <div class="container-fluid">
      <a class="navbar-brand ms-2" routerLink='/home' routerLinkActive="router-link-active" >Trendzz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto text-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/home'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="cat">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="product">Product</a>
          </li>
          <li class="nav-item">
            <img src="assets/images/Group 1.png" alt="" srcset="" class="mt-2 ms-2">
          </li>
        </ul>
        <div class="ms-auto" >
            <form class="text-center">
              <button class="btn me-2" type="button"  mat-button (click)="openModal()">Sign in</button>
              <button class="btn" type="button" mat-button (click)="openDialog()">Login</button>
            </form>
        </div>
    </div>
    </div>
  </nav>
