<nav class="navbar navbar-expand-lg bg-body-light shadow-sm p-3 mb-5 bg-white rounded">
    <div class="container-fluid">
      <a class="navbar-brand ms-2" routerLink='/home' routerLinkActive="router-link-active" >Trendzz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto text-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/home'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="cat">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="product">Product</a>
          </li>
          <li class="nav-item">
            <img src="assets/images/Group 1.png" alt="" srcset="" class="mt-2 ms-2">
          </li>
        </ul>
        <div class="ms-auto" >
            <form class="text-center">
              <button class="btn me-2" type="button"  mat-button (click)="openModal()">Sign in</button>
              <button class="btn" type="button" mat-button (click)="openDialog()">Login</button>
            </form>
        </div>
    </div>
    </div>
  </nav>
 <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col"><img src="../../../assets/images/Frame 313.png" width="200" height="200"></div>
              <form  class="col" #loginForm="ngForm" (ngSubmit)="Login()">
                <div class="input-group mb-3 form-group">
                  <span class="input-group-text" id="basic-addon1"><img src="../../../assets/images/Layer 2.png" alt=""></span>
                  <input  type="email" class="form-control" placeholder="example@gmail.com" aria-label="Username" aria-describedby="basic-addon1" required [(ngModel)]="email" name='email'>
                </div>
                <div class="input-group mb-3 form-group">
                  <span class="input-group-text" id="basic-addon1"><img src="../../../assets/images/Vector.png" alt=""></span>
                  <input type="password" class="form-control" placeholder="*******" aria-label="Username" aria-describedby="basic-addon1" minlength="4" maxlength="8" required [(ngModel)]="password" name="password" #pass="ngModel">
                </div>
                <div class="alert alert-danger" *ngIf="pass.errors?. ['minlength']">
                  Password must be 4 Characters
                </div>
                <div>
                  <label for="" class="d-flex justify-content-end mb-3">Forgot Password ?</label>
                </div>
                <div class="input-group mb-3">
                  <button class="btn form-control log" type="submit" [disabled]="loginForm.invalid" id="modalBtnClick" >Log in</button>
                </div>
                <div class="or">
                  Or
                </div>
                <div class="container-fluid">
                <div class="row text-center">
                <div class="col"><img src="../../../assets/images/Google.png" width="30" height="30"></div>
                <div class="col"><img src="../../../assets/images/Facebook.png" width="30" height="30"></div>
                <div class="col"><img src="../../../assets/images/Apple.png" width="30" height="30"></div>
              </div>
              <div class="row mt-3">
                <div class="col acc">
                <p>Don't have an account? <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2" class="sign">Sign Up</a>
                </div>
              </div>
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content content2">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container mb-5 ">
              <h1 id="id1">Sign Up</h1>
              {{signForm.invalid }}
              <form class="row g-3" #signForm="ngForm" (ngSubmit)="signUp()">
                <div class="col-md-4">
                  <label for="inputEmail4" class="form-label" id="label2">Name</label>
                  <input type="text" class="form-control control2"  placeholder="abc" required  name="username" [(ngModel)]="name">
                </div>
                <div class="col-md-4">
                  <label for="inputPassword4" class="form-label" id="label2">Email</label>
                  <input type="email" class="form-control control2"  placeholder="abc@abc.com" required name="gmail" >
                </div>
                <div class="col-md-4"></div>
                <div class="row g-3">
                  <div class="col-md-4">
                    <label for="inputEmail4" class="form-label" id="label2">Phone</label>
                    <input type="tel" class="form-control control2"  placeholder="abc" required>
                  </div>
                  <div class="col-md-4">
                    <label for="inputPassword4" class="form-label" id="label2">Password</label>
                    <input type="password" class="form-control control2"  placeholder="*******" required>
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <div class="row g-3">
                  <div class="col-md-4">
                    <label for="inputEmail4" class="form-label " id="label2">Address</label>
                    <input type="text" class="form-control control2"placeholder="abc" required>
                  </div>
                  <div class="col-md-4">
                    <label for="inputPassword4" class="form-label" id="label2">Confirm password</label>
                    <input type="password" class="form-control control2"  placeholder="*******" required>
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <div class="row g-3">
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck" id="check">
                      I've read and agree with terms of service and our <br> privacy policy
                    </label>
                  </div>
                  <div>
                    <button type="submit" [disabled]="signForm.invalid" (click)="signUp()" id="signIn" ><img src="../../../assets/images/Rectangle 7.png" alt=""></button> 
                    <div>
                     <img src="../../../assets/images/Vector 2.png" alt="" class="arrow" >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col-6">
                  <h6>Already have an account ? <i data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Sign in </i></h6> 
                </div>
              </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  