@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
    background-color: #d4d4d4;
}

header{
    background-color: #fff;

}

.profile{
    margin-top: -20px;
    margin-left: 20px;
}

label{
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}