footer{
    background-color: #4cb96d;
}
.cpr ,table{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    
}
td{
    color: #D3D3D3;
}
table,tr,td,th{
    border: none;
}
.vl {
    border-left: 1px solid rgb(139, 131, 131);
    height: 100px;
    position:absolute;
    left: 46%;
    top: 1520px;
  }