<footer>
<div class="container">
    <table class="table row">
       
            <div class="col">
      
        <tr>
            <th>ABOUT</th>
            <th>HELP</th>
            <th>CONSUMER POLICY</th>
            <th>SOCIAL</th>
        </tr>
        <tr>
            <td>Contact Us</td>
            <td>Payments</td>
            <td>Return Policy</td>
            <td>Facebook</td>
        </tr>
        <tr>
            <td>About Us</td>
            <td>Shipping</td>
            <td>Terms Of Use</td>
            <td>Twitter</td>
        </tr>
        <tr>
            <td>Careers</td>
            <td>Cancellation & Returns</td>
            <td>Security</td>
            <td>YouTube</td>
        </tr>
        <tr>
            <td>Press</td>
            <td>FAQ</td>
            <td>Privacy</td>
        </tr>
    </div>
    

    <div class="col">
        
        <tr>
            <th>Mail Us:</th>
            <th>Registered Office Address:</th>
        </tr>
        <tr>
            <td>Trendzz Internet Private Limited <br> Buildings Alyssa Belogna & <br> Clove Tech Village, <br> Bengluru, 45784  <br> Karnataka, India</td>
            <td>Trendzz Internet Private Limited <br> Buildings Alyssa Belogna & <br> Clove Tech Village, <br> Bengluru, 45784  <br> Karnataka, India <br> CIN : UL54845456456</td>
        </tr>
    </div>
   
    </table>
</div>
<div class="container">
<div class="row cpr">
    <div class="col"><i class="bi bi-bag-fill"></i>&nbsp;Become a Seller</div>
    <div class="col"><i class="bi bi-stars"></i>&nbsp;Advertise</div>
    <div class="col"><i class="bi bi-gift"></i>&nbsp;Gift Cards</div>
    <div class="col"><i class="bi bi-question-circle-fill"></i>&nbsp;Help Center</div>
    <div class="col"><i class="bi bi-c-circle"></i>&nbsp;2023 Trendzz.com</div>
    <div class="col"><img src="../../../assets/images/payment-method_69e7ec.svg" alt="" srcset=""></div>
</div>
</div>
</footer>