
<app-navbar></app-navbar>
<div class=" d-flex justify-content-start ">
    <div class="col-md-5 s1 justify-content-start">

<app-usersidebar></app-usersidebar>
</div>
<div class="col s2 justify-content-start">


<div class="col py-2 mt-5 d-flex justify-content-center">
    <div class="card card2 " style="width: 25rem;">
      <div class="row">
      <div class="col-sm">
        <img class="card-img i2" src="{{productData?.productImage}}" alt="Card image cap"></div>
        <div class="col">
          <h5>{{productData?.productName}}</h5>
          <p class="text-muted">{{productData?.category}}</p>
          <h5>{{productData?.amount}}</h5>
        </div></div>
        <div class="card-body">
           
          <table class="table">
            <thead>
             
            </thead>
            <tbody>
              <tr>
               
                <td>Product Total</td>
                <td></td>
                <td>{{productData?.amount}}</td>
              </tr>
              <tr>
                
                <td>Discount</td>
                <td></td>
                <td>%10<span class="text-muted">(100/-)</span></td>
              </tr>
              <tr>
                
                <td>Delivery fee</td>
                <td></td>
                <td>Free</td>
              </tr>
              <tr>
                
                <th class="t2" >Total</th>
                <td></td>
                <th class="t2">{{productData?.amount}}</th>
              </tr>
            </tbody>
          </table>
          
        </div>
        <button type="button" class="btn btn-primary  btn1 " (click)="deleteProduct(productData?.id)"> Cancel Order</button>
      </div>
  </div>
</div></div>
<app-footer></app-footer>