
<app-navbar></app-navbar>
<div class=" d-flex justify-content-start ">
    <div class="col-md-5 s1 justify-content-start">

<app-usersidebar></app-usersidebar>
</div>
<div class="col s2 justify-content-start">
<div class="container mt-5" >
    <div class="row" >
        <div class="col-lg-6" *ngFor="let cdata of ohProducts">
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{cdata?.productImage}}" class="img-fluid rounded-start p-1" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{cdata?.productName}}</h5>
                      
                      <p class="card-text"><small class="text-muted">{{cdata?.category}}</small></p>
                      <span class="d-flex"><h5 class="card-title">{{cdata?.amount}}/-</h5><img class="ms-5" src="../../../assets/images/Group 11054.png"></span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
      </div>  
</div>
</div></div>
<app-footer></app-footer>