<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-4 imagecol align-self-center">
            <img src="../../../assets/images/Rectangle 5.png">

        </div>
        <div class="col col-lg-8 mt-5">
            <div class="text-danger h5">Rs 700/-  <span class="text-secondary text-decoration-line-through h6 ">1000</span>&nbsp; <span class="text-white bg-danger">-50%</span>  <img class="revimg ms-5" src="../../../assets/images/reviews.jpg"></div>
             <div class="btn btn-success mt-5 ms-5  pobtn"><svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart text-black" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>Place Order</div>
              <div class="h6 mt-5">Delivery</div>
              <div class="font-size-sm font-weight-light" >Free standard shipping on orders <span class="h6">over Rs 500</span> before tax,plus free returns</div>
        </div>
    </div>
</div>
